html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

body {
    background-image: url("https://images.unsplash.com/photo-1516823989326-bd1bd7d6f4f2?q=80&w=1734&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.search_header {
    background-color: white;
    opacity: 0.8;
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
}

.search_div {
    background-color: white;
    opacity: 0.8;
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
}

.time {
    font-size: 250%;
    color: black;
    text-align: center;
}

.acord {
    background-color: white;
    opacity: 0.8;
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
}

.related_search {
    background-color: white;
    opacity: 0.8;
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    font-size: 150%;
    width: 90%;
    max-width: 800px;
}